*{
    margin: 0;
    padding: 0;
}
.parent{
    background-color: burlywood;
    height: 130vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.child1{
    background-color: whitesmoke;
    width: 200px;
    height: 300px;
    border: 1px solid;
    margin: 10px;
   position: relative;
}
.child1 h2{
    position: absolute;
    top: 30px;
    right:  30px;
    
}
.child2{
    background-color: whitesmoke;
    width: 200px;
    height: 300px;
    border: 1px solid;
    margin: 10px;
    position: relative; 
}
.child2 h2{
    position: absolute;
    bottom: 30px;
    right:  30px;
    
}

.child3{
    background-color: whitesmoke;
    width: 200px;
    height: 300px;
    border: 1px solid;
    margin: 10px;
   position: relative; 
}
.child3 h2{
    position: absolute;
    bottom: 30px;
    left:  30px;
}


